p {
    padding: 0px;
    margin: 0px;
    position: absolute;
    /* left: -400px; */
    /* top: -320px */
}

body {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100%; */
    /* width: 100%; */
    /* position: fixed; */

    /* background-color: #333; */
}

input {
    position: fixed;
    left: 0;
    top: 0;
}

p {
    font-size: 150vh;
    font-weight: 900;
    /* letter-spacing: -0.1em; */
}