.all {
    /* background: fuchsia; */
    position: absolute;
    width: 100%;
    height: 100%;
}

button {
    margin: auto;
    display: block;
}

.modal {
    margin: auto;
    background: forestgreen;
    color: white;
    height: 300px;
    max-width: 1000px;
    /* visibility: hidden; */
    display: none;
}

.show {
    /* visibility: visible; */
    display: block;
}